$active-element: #39C2D7;
$light-color: #000000;
$dark-color: #ffffff;
$light-background: #ffffff;
$dark-background: #464547;
$header-menu-background: #333333;

$color-grey-1: rgba(#333333, 1);
$color-grey-2: rgba(#666666, 1);

$ff-ss: 'Source Sans Pro Regular', Arial, sans-serif;
$ff-ow: 'Oswald Regular', Arial, sans-serif;