.weather-wrapper {
  width: calc(100vw-60px);
  padding: 30px;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media all and (max-width: 860px) {
	flex-direction: column;
  }
}

.chart {
  box-sizing: border-box;
  min-width: 300px;
  margin-right: 2rem;
  margin-bottom: 2rem;

  @media all and (max-width: 860px) {
	width: 100%;
	min-width: 100px;
  }
}
