.weather-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media all and (max-width: 860px) {
	flex-direction: column;
  }
}

.chart {
  min-width: 300px;
  margin: 2rem;

  @media all and (max-width: 860px) {
	min-width: 150px;
  }
}
